/* Animación de entrada para los textos */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDelay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Hero container styles */
.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  animation: fadeInDelay 1s ease-out;
  overflow: hidden;   
}

.hero-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  animation: fadeInUp .5s ease-out;
}

.hero-mundo {
  width: 135%;
  opacity: 0.6;
  z-index: -1;
  position: absolute;
  transform: translate(-50%, -25%);
  animation: fadeInUp .00005s ease-out;
}

.hero-text {
  text-align: center;
  color: white;
  position: relative;
  z-index: 1;
}

/* Animations for text */
.hero-text.animate-text .text1 {
  animation: fadeInUp 1.5s ease-out;
}

.hero-text.animate-text .text2 {
  animation: fadeInUp 2s ease-out;
}

.hero-text.animate-text .text3 {
  animation: fadeInUp 2.5s ease-out;
}

.hero-text.animate-text .text4 {
  animation: fadeInUp 3s ease-out;
}

.text1 {
  font-size: clamp( 1.8rem , 2.7vw , 2.5rem);
  font-weight: bold;
  position: relative;
  margin-top: 9%;
  margin-bottom: -3%;
}

.text2 {
  font-size: clamp( 1.6rem , 2.3vw , 2.2rem);
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin-right: 8px;
}

.text-container{
  background-color: rgba(7, 7, 7, 0.57); 
  border-radius: 8px;                  
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: clamp( 1.4rem , 2.4vw , 2rem);
}


.text3 {
  position: relative;
  font-size: clamp( 1.6rem , 2.6vw , 2.2rem);
  font-weight: bold;
  background-image: linear-gradient(to right, #03E7BA, #07cde7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  overflow: hidden;
  line-height: 1;          
  top: 1.5%;   
}


/* Brillo animado horizontal */
.text3::after {
  content: '2PROTECTION';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  background: linear-gradient(to right, #FF00FF, #00FFFF); /* Brillo más llamativo */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Máscara en movimiento */
  -webkit-mask-image: linear-gradient(
    120deg,
    transparent 30%,
    rgba(255, 255, 255, 1) 100%,
    transparent 70%
  );
  -webkit-mask-size: 200% 100%;
  -webkit-mask-repeat: no-repeat;
  animation: mask-shine 2.5s infinite linear;
  mix-blend-mode: lighten;
  pointer-events: none;
}

@keyframes mask-shine {
  0% {
    -webkit-mask-position: 200% 0;
  }
  100% {
    -webkit-mask-position: -300% 0;
  }
}

@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.text4 {
  font-size: clamp(.9rem, 1.4vw, 1.4rem);
  margin: 0 auto 5%;
  max-width: 850px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: #eaeaea;
}

/* Animación para el botón */
@keyframes fadeInButton {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Button styles */
.fortinet-button {
  position: absolute;
  bottom: 60px;
  right: 60px;
  border-radius: 10px 10px 10px 0px;
  border: 3px solid #0be9ec;
  background: transparent;
  cursor: pointer;
  padding: 8px 15px;
  animation: fadeInUp 2.5s ease-out;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

/* Animación para el botón cuando la sección esté visible */
.fortinet-button.animate-button {
  animation: fadeInButton 2s ease-out;
}

.fortinet-button:hover {
  transform: translateY(-10px); /* Levanta el botón 5px */
  background-color: rgba(163, 98, 67, 0); 
  border-color: #00b8bb;
}

.button-fortinet {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.fortinet-button:hover .button-fortinet {
  transform: scale(1.1); /* Slightly grow the button on hover */
}

/* Smooth transition for font loading */
* {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 850px){
  .text4 {
    margin: 0 5% 5%;
  }
  .button-fortinet {
    width: 90%;
  }
  .fortinet-button {
    bottom: 50px;
    right: 30px;
    border: 2px solid #0be9ec;
    padding: 8px 15px;
  }
  .hero-mundo {
    width: 100%;
  }

}
