.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column; 
}

.hero-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-mundo {
  width: 1100px;
  opacity: 0.6;
  z-index: -1;
  position: absolute;
  transform: translate(-50%, -25%);
}

.hero-text {
  text-align: center;
  color: white;
  position: relative;
  z-index: 1;
}

.text1 {
  font-size: 45px;
  font-weight: bold;
  position: relative;  
  margin-top: 100px;
  margin-bottom: -30px;
}

.text2 {
  font-size: 35px;
  font-weight: bold;
  position: relative;  
  display: inline-block; 
  margin-right: 8px;
}

.text3 {
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(to right, #03E7BA, #0cdefa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.text4 {
  font-size: 20px;
  text-align: center;
  margin: 0 22% 5% 22%;
}

.fortinet-button {
  position: absolute; 
  bottom: 80px;
  right: 60px; 
  border-radius: 10px 10px 10px 0px;
  border: 3px solid #03e3e7;
  background: transparent;
  cursor: pointer;
  padding: 8px 15px;
}

.button-fortinet {
  width: 150px;
}






