.nosotros-container {
  display: flex;
  height: 100vh;
  background-color: #010a0f;
  color: rgb(223, 223, 223);
  position: relative; /* ¡IMPORTANTE! Para que el ellipse se posicione dentro de este contenedor */
  overflow: hidden;    /* Para que no se desborde si sale del área */
}

.nosotros-img {
  flex: 1;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  z-index: 2;
}

.nosotros-txtbtn {
  flex: 2;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.nosotros-txtbtn h2 {
  font-size: clamp(1rem, 1.9vw, 1.5rem);
  margin-bottom: 5px;
  text-align: center;
}

.nosotros-txtbtn p {
  font-size: clamp(0.85rem, 1.2vw, 1.25rem);
  margin-bottom: 90px;
  line-height: 1.4;
  text-align: center;
}

.accordion {
  position: relative;
  padding: 8px 20px;
  margin-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px;
  background: linear-gradient(#0c191f, #1a2a30) padding-box,
              linear-gradient(90deg, #04bab8, #028A75) border-box; 
  border: 3px solid transparent;
  color: #04e1ddd8;
  transition: background 0.3s ease-in-out;
  font-size: clamp(.9rem, 1.3vw, 1rem);
  text-align: center;
}


/* Efecto de hover: el borde gira alrededor del botón */
.accordion:hover {
  animation: rotate-border 3s linear infinite; /* Rotación infinita en hover */
}

/* Animación para el giro del borde */
@keyframes rotate-border {
  0% {
    border-color: white; /* Color del borde inicial */
  }
  25% {
    border-color: #04bab8; /* Cambio de color del borde */
  }
  50% {
    border-color: white; /* Vuelve al color inicial */
  }
  75% {
    border-color: #04bab8; /* Cambio de color del borde */
  }
  100% {
    border-color: white; /* Vuelve al color inicial */
  }
}

.accordion span::after {
  content: '▼';
  float: right;
  transition: transform 0.3s ease-in-out;
}

.accordion .mostrar + span::after {
  transform: rotate(180deg);
}

.btn-1 {
  width: 40%;
  margin-left: auto;
}

.btn-2 {
  width: 40%;
  left: 22%;
}

.btn-3 {
  width: 40%;
}

.btn-1, .btn-2, .btn-3 {
  margin-bottom: 4%;
}

.contenido {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  color: white;
  font-weight: normal;
  margin-top: 10px;
  font-size: 15px;
}

.logo-2p {
  position: absolute;
  width: 12%;
  top: 72%;
  left: 85%;
  opacity: 0.7;
}

.mostrar {
  max-height: 200px;
}
.logo-img{
  position: absolute;
  bottom: 1%; 
  right: 1%;
  width: auto;
  height: 18%; 
  z-index: 0; 
}

.img-nosotros {
  width: auto;
  height: 100%;
  object-fit: cover;
}


.ellipse-estatica {
  position: absolute;
  bottom: -40%; 
  right: -20%; 
  width: auto;
  height: 80%;
  z-index: 0; 
}

.ellipse-movimiento {
  position: absolute;
  top: 20%; 
  left: 50%; 
  transform: translateX(-50%); 
  animation: moveDiagonal 8s ease-in-out infinite; 
  width: auto;
  height: 90%; 
  opacity: .8;
  z-index: 0; 
}


@keyframes moveDiagonal {
  0% {
    transform: translateX(-50%) translateY(-150px); /* Punto A */
  }
  50% {
    transform: translateX(-80%) translateY(100px);  /* Punto B */
  }
  100% {
    transform: translateX(-50%) translateY(-150px); /* Vuelta a A */
  }
}

.ellipse-movimiento2 {
  position: absolute;
  left: 85%; 
  transform: translateX(-50%);
  animation: moveDiagonal2 8s ease-in-out infinite; 
  width: auto;
  height: 60%; 
  opacity: .8;
  z-index: 0; 
}



@keyframes moveDiagonal2 {
  0% {
    transform: translateX(5%) translateY(100px); /* Punto A (derecha abajo) */
  }
  33% {
    transform: translateX(-60%) translateY(-100px);  /* Punto B (izquierda abajo) */
  }
  100% {
    transform: translateX(5%) translateY(100px); /* Vuelta a A */
  }
}

@media (max-width: 1080px) {
  .nosotros-container {
    flex-direction: column;
    height: auto;
    position: relative;
    z-index: 2;
  }

  .nosotros-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.455), rgba(0, 0, 0, 0.438)), url('/image/Nosotros-img.png');
    background-size: cover;
    background-position: center;
    z-index: 1;
  }

  .nosotros-img,
  .nosotros-img img,
  .logo-img,
  .ellipse-movimiento,
  .ellipse-movimiento2,
  .ellipse-estatica {
    display: none;
  }

  .nosotros-txtbtn,
  .accordion,
  .contenido {
    position: relative;
    z-index: 2;
    margin-left:3% ;
    margin-right: 3%;
  }

  .nosotros-txtbtn {
    padding: 20px;
  }

  .accordion {
    padding: 10px;
  }

  .btn-1, .btn-2, .btn-3 {
    width: 50%; /* Ajustamos el tamaño de los botones a un 50% */
    left: 20%;
  }

  .logo-2p {
    width: 20%;
  }
}

@media (max-width: 500px) {
  .nosotros-txtbtn {
    padding: 10px;
  }

  .accordion {
    margin-bottom: 15px;
  }

  .nosotros-txtbtn p {
    margin-bottom: 20px;
  }
  .btn-1, .btn-2, .btn-3 {
    width: 90%; /* Los botones ocupan el 90% del contenedor */
    margin-bottom: 10px; /* Añadimos más espacio entre los botones */
    margin-left: auto;
    margin-right: auto;
    left: auto;
  }
}








  
