.servicios-containerUno {
  display: flex;
  min-height: 100vh;
  background-color: #000912;
  color: white;
  position: relative;
  overflow: hidden;
}


/* Animación para el movimiento suave de arriba a abajo */
@keyframes movimiento-vertical {
  0% {
    transform: translateY(0); /* Comienza en su posición original */
  }
  25% {
    transform: translateY(-5px); /* Subir un poquito */
  }
  50% {
    transform: translateY(5px); /* Baja un poquito */
  }
  75% {
    transform: translateY(-5px); /* Subir otra vez */
  }
  100% {
    transform: translateY(0); /* Regresa a su posición original */
  }
}

/* Aplicar la animación a los elementos que deseas mover */
.ciberseguridad-servicios, .img-abajo-s1, .box, .box2 {
  animation: movimiento-vertical 3s ease-in-out infinite; /* Movimiento suave y continuo */
  will-change: transform; /* Indica al navegador que estamos animando transform */
  transform: translateZ(0); /* Fuerza el uso de la GPU para la animación */
}

/* Opcional: un pequeño retraso para crear un efecto de secuencia */
.par-uno .box, .par-tres .box {
  animation-delay: 0.4s; /* Inicia con un pequeño retraso */
}

.par-dos .box2, .par-cuatro .box2 {
  animation-delay: 0.5s; /* Inicia con un pequeño retraso */
}




.txt-inicioS1 {
  display: flex;
}

.texto {
  text-align: center;
  margin: 0 6%;
  margin-top: 5%;
  font-size: clamp(.85rem, 1.1vw, 1.5rem);
  letter-spacing: 1px;
}
.img1-s1{
  justify-content: left;

}
.img1-s2{
  justify-content: right;
}
.img-decoracion {
  max-width: 8%;
  object-fit: contain;
}
.img-decoracionAbajo {
  max-width: 12%;
  object-fit: contain;
}
.img-abajo-s1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 3%; 
}
.azul {
color: #0CFAF5; 
}

.ciberseguridad-servicios{
display: flex;
align-items: center;
justify-content: space-between;
box-sizing: border-box;
margin: 0 10%;
}

/*PAR UNO Y TRES */
.par-uno, .par-tres{
display: flex;
flex-direction: column;
gap: 6rem;
}

/*PAR DOS Y CUATRO */
.par-dos, .par-cuatro{
display: flex;
flex-direction: column;
gap: 6rem;
margin-top:8% ;
}

.box {
display: flex;
width: 250px;
height: 210px;
background: linear-gradient(to bottom, #050c12, #44f2e15e);
position: relative;
justify-content: center;
align-items: center;
text-align: center;
}

.box2 {
display: flex;
width: 250px;
height: 210px;
background: linear-gradient(to bottom, #44f2e15e, #050c12);
position: relative;
justify-content: center;
align-items: center;
text-align: center;
}

.box p, .box2 p{
margin-top: 30%;
}

.circle img {
position: absolute;
top: -40px;
left: 50%;
transform: translateX(-50%);
width: 120px;
height: 120px;
border-radius: 50%;
background-size: cover;
background-position: center;
z-index: 10;
}

/* Esquina superior izquierda */
.box::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 20px;
height: 4px;
background: linear-gradient(to bottom, #0F4346, #0CEAFA);
}

.box::after {
content: "";
position: absolute;
top: 0;
left: 0;
width: 4px;
height: 20px;
background: linear-gradient(to bottom, #0F4346, #0CEAFA);
}

/* Esquina superior derecha */
.box .corner-top-right::before {
content: "";
position: absolute;
top: 0;
right: 0;
width: 20px;
height: 4px;
background: linear-gradient(to bottom, #0F4346, #0CEAFA);
}

.box .corner-top-right::after {
content: "";
position: absolute;
top: 0;
right: 0;
width: 4px;
height: 20px;
background: linear-gradient(to bottom, #0F4346, #0CEAFA);
}


.box2::before {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 20px;
height: 4px;
background: linear-gradient(to bottom, #0F4346, #0CEAFA);
}

.box2::after {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 4px;
height: 20px;
background: linear-gradient(to bottom, #0F4346, #0CEAFA);
}


.box2 .corner-bottom-right::before {
content: "";
position: absolute;
bottom: 0;
right: 0;
width: 20px;
height: 4px;
background: linear-gradient(to bottom, #0F4346, #0CEAFA);
}

.box2 .corner-bottom-right::after {
content: "";
position: absolute;
bottom: 0;
right: 0;
width: 4px;
height: 20px;
background: linear-gradient(to bottom, #0F4346, #0CEAFA);
}

@media (max-width: 1350px) {
  .ciberseguridad-servicios {
    gap: 1rem;
    margin: 0 3%;
  }
}
@media(max-width:1280px){
.contenido-servicios{
  padding: 0;
}
}

@media (max-width: 1140px) {
  .ciberseguridad-servicios {
    flex-direction: column;
    gap: 3rem;
    margin: 0 2%;
  }
  .par-uno,
  .par-dos,
  .par-tres,
  .par-cuatro {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 5%;
  }
}
@media (max-width: 768px) {
  .box, .box2 {
    width: 200px;
    height: auto;
    padding: 2rem 1rem;
  }

  .box p, .box2 p {
    margin-top: 1rem;
  }

  .circle img {
    width: 80px;
    height: 80px;
    top: -30px;
  }

  .img-decoracion {
    max-width: 10%;
  }
  .img-decoracionAbajo {
    max-width: 15%;
  }

  .texto {
    margin: 4% 0;
  }

}

@media (max-width: 450px) {
  .ciberseguridad-servicios {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0 2%;
  }

  .par-uno,
  .par-dos,
  .par-tres,
  .par-cuatro {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 5%;
  }

  .box, .box2 {
    width: 100px; 
    height: 110px;
    padding: .5rem 0.5rem;
  }

  .box p, .box2 p {
    margin-top: 1.5rem;
    font-size: 0.75rem;
  }

  .circle img {
    width: 60px;
    height: 60px;
    top: -25px;
  }

  .texto {
    letter-spacing: 0px;
    margin: 12% 4% ;
  }

  .img-decoracion {
    display: none;
  }
  .img-decoracionAbajo {
    max-width: 18%;
  }
}


