/* --- CONTENEDOR GENERAL --- */
.servicios-container {
  display: flex;
  justify-content: center;
  min-height: 60vh; 
  width: auto;
  background-color: #000912;
  position: relative;
  overflow: hidden;
  }

/* Asegura que la sección no agregue espacio innecesario */
.servicios-inicio {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}  
  
  /* --- CONTENIDO PRINCIPAL --- */
  .content-servicios {
    margin: 5%;
    width: 100%;
    z-index: 5;
  }
  
  /* --- TÍTULO --- */
  .content-servicios h2 {
    text-align: center;
    color: white;
    position: relative;
    padding-bottom: 10px;
    display: block;
    margin: 0 auto;
    width: fit-content;
    font-size: clamp(1rem, 1.9vw, 1.5rem);
  }

  .linea-divisora{
    width: clamp(400px, 50%, 800px);
    height: 3px;
    background: linear-gradient(90deg, #3AC0FE, #44F2E1, #02a685dc);
    border: none;
    border-radius: 5px;
    margin: 5px auto 20px auto; /* la centra horizontalmente */
  }
  
  .linea-divisora{
    transition: width 0.3s ease;
  }
  
  .content-servicios p{
    color: white;
    text-align: center;
    font-size: clamp(0.85rem, 1.2vw, 1.25rem);
    z-index: 100;
  }
  
  /* --- CONTENEDOR DE CUADROS --- */
  .cuadros-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    top: 50px;
    z-index: 5;
    margin-bottom: 3%;
  }
  
  /* --- ESTILO DE CADA CUADRO --- */
  .cuadro {
    background-color: #000912;
    color: #ffffff;
    width: clamp(220px, 40vw, 250px); 
    height: clamp(220px, 40vw, 250px); 
    padding: 15px 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 71, 102, 0.3);
    transition: transform 0.3s ease;
    
  }

  .cuadro:hover {
    transform: translateY(-5px);
  }
  
  /* --- ICONO EN EL CUADRO --- */
  .icono {
    width: clamp(40px, 8vw, 60px);
    margin-bottom: 15px;
  }
  
  /* --- TEXTO DEL CUADRO --- */
  .cuadro p {
    font-size: clamp(.9rem, 1.5vw, 1rem);
    margin: 20px 0px 30px 0px;
  }
  
  /* --- BOTÓN DEL CUADRO --- */
  .cuadro button {
    color: rgb(0, 0, 0);
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cuadro button:hover {
    background-color: #000912;
    color:white;
  }

/* Estilo común para button y Link */
.btn1, .btn2, .btn3 {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: clamp(.9rem, 1.5vw, 1rem);
  font-weight: 500;
  font-family: inherit;
  color: rgb(0, 0, 0);  
  cursor: pointer;
  text-decoration: none; 
  transition: border-color 0.25s;
}

.btn1:hover, .btn2:hover, .btn3:hover {
  border-color: #ffffff;
  color: white;
}

.btn1:focus, .btn2:focus, .btn3:focus,
.btn1:focus-visible, .btn2:focus-visible, .btn3:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Si quieres que el Link sea igual de interactivo */
.btn1:active, .btn2:active, .btn3:active {
  background-color: #e1e1e1;
  color: #000912;
}

  .btn1{
  background-color: #3AC0FE;
  }
  .btn2{
    background-color: #44F2E1;
  }
  .btn3{
    background-color: #029A7B;
  }

  .cuadro1{
    background: 
    linear-gradient(#0f2027, #203a43) padding-box, 
    linear-gradient(90deg, #3AC0FE, #44F2E1) border-box;
    border: 3px solid transparent;
    margin-top:30px ;
  }
  .cuadro2{
    background: 
    linear-gradient(#0f2027, #203a43) padding-box, 
    linear-gradient(90deg, #44F2E1, #029A7B) border-box;
    border: 3px solid transparent;
  }
  .cuadro3{
    background: 
    linear-gradient(#0f2027, #203a43) padding-box, 
    linear-gradient(90deg, #029A7B, #036766) border-box;
    border: 3px solid transparent;
    margin-top:30px ;
  }

  .ellipse, .ellipse2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 800px;
    max-width: 100%;
    height: auto;
    max-height: 100vh;
    object-fit: contain;
    pointer-events: none;
    z-index: 0;
  }
  
  
  .ellipse {
    right: -480px; 
  }
  .ellipse2 {
    left: -480px; 
  }

  @media (max-width: 1070px) {
    .cuadros-container {
      flex-wrap: row;
      gap: 40px;
      justify-content: center;
    }
  }
  @media (max-width: 1025px) {
    .cuadros-container {
      display: flex; 
      flex-direction: row;
      gap: 30px;
      justify-content: center;
      align-items: center;
    }
    .cuadro1, .cuadro3{
      margin-top: 0px;
    }
    .content-servicios {
      margin-top: 8%;
    }
  }
  @media (max-width: 600px) {
    .linea-divisora {
      width: 80%;
    }
    .cuadros-container {
      margin-bottom: 6%;
    }
  }


  
  